<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.materialtest">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:resizeableActivity="false"><!--禁止分屏-->
        <activity android:name=".FruitActivity"
            android:theme="@style/FruitActivityTheme">
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="Fruits"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"><!--不管是多窗口模式还是横竖屏切换活动都不会被重新创建-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>